<h2 mat-dialog-title>Liste des réservations</h2>

<div class="reservations-list">
  <form class="reservations-list__form" [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
    <mat-form-field>
      <mat-select placeholder="Nom de la salle" formControlName="salle">
          <mat-option *ngFor="let salle of salles$ | async" [value]="salle.id!">{{salle?.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  
    
    <button type="submit" mat-raised-button color="primary" disabled={{form.invalid}}>Voir les réservations</button>
  </form>
  

  
  <div *ngIf="reservations$ | async as reservation" >
      <table *ngIf="reservation.length > 0;else error" mat-table [dataSource]="reservation" matSort class="mat-elevation-z8">
  
        <!-- <ng-container matColumnDef="action">
          <tr><th mat-header-cell *matHeaderCellDef> Action </th></tr>
          <tr>
            <td mat-cell *matCellDef="let row" style="width:20%">
              <button mat-icon-button color="primary" (click)="viewContact(row)" title="View Contact"><mat-icon>preview</mat-icon></button>
              <button mat-icon-button color="primary" (click)="editContact(row)" title="Edit Contact"><mat-icon>edit</mat-icon></button>
            </td>
          <tr>
        </ng-container> -->
  
        <ng-container matColumnDef="description">
          <tr><th mat-header-cell *matHeaderCellDef mat-sort-header> description </th></tr>
          <tr><td mat-cell *matCellDef="let row" style="width:20%"> {{row.description}} </td><tr>
        </ng-container>

        <ng-container matColumnDef="date"> 
          <tr><th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th></tr>
          <tr><td mat-cell *matCellDef="let row" style="width:20%"> {{row.date}} </td><tr>
        </ng-container>

        <ng-container matColumnDef="action">
          <tr><th mat-header-cell *matHeaderCellDef> Action </th></tr>
          <tr>
            <td mat-cell *matCellDef="let row" style="width:20%">
              <button mat-icon-button color="primary" (click)="deleteRes(row)" title="Delete Reservation"><mat-icon>delete</mat-icon></button>
            </td>
          <tr>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  

        </table>
      </div>
    </div>
    <ng-template #error>
      <div  class="reservations-list__error">
        Il n'y a pas de réservations pour cette salle ! 
      </div>
    </ng-template>

