<h2 class="salles-list__title">Liste des salles</h2>

<div class="salles-list__content">
    <div *ngFor="let salle of salles$ | async">
        <card-salle [salle]="salle"></card-salle>
    </div>
  </div>