<h2 mat-dialog-title>Réservez une salle</h2>

<mat-dialog-content class="reserver-salle__form" [formGroup]="form">
  
    <mat-form-field>
        <input 
          matInput
          type="text"
          placeholder="description"
          formControlName="description">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="date" [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions class="reserver-salle__cta">
    <button class="mat-raised-button"(click)="close()">Close</button>
    <button class="mat-raised-button mat-primary"(click)="save()">Save</button>
</mat-dialog-actions>