<mat-toolbar color="primary">
  <div>
    <span>{{title}}</span>
    <a [routerLink]="['/home']" mat-button>
      <mat-icon aria-hidden="false">home</mat-icon>
      Accueil
    </a>
    <a [routerLink]="['/rooms/list']" mat-button>
      <mat-icon aria-hidden="false">room</mat-icon>
      Liste des salles
    </a>
    <a [routerLink]="['/rooms/add']" mat-button>
      <mat-icon aria-hidden="false">add</mat-icon>
      Ajouter une salle
    </a>
    <a [routerLink]="['/rooms/reservations']" mat-button>
      <mat-icon aria-hidden="false">remove_red_eye</mat-icon>
      Voir les réservations
    </a>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>