<section class="add-salle">
  <h3>Ajouter une salle</h3>

<form class="add-salle__form" [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
  <mat-form-field>
      <input matInput type="text" placeholder="Nom" formControlName="name"/>
      <mat-error>Le nom est obligatoire</mat-error>
  </mat-form-field>


  <mat-form-field>
      <input matInput type="number" placeholder="Capacité" formControlName="capacity"/>
      <mat-error>Le nom est obligatoire</mat-error>
  </mat-form-field>

  <mat-form-field>
      <mat-select placeholder="Image" formControlName="image">
          <mat-option *ngFor="let p of pictures" [value]="p.file">{{p?.name}}</mat-option>
      </mat-select>
  </mat-form-field>

  <div>
      <button type="submit" mat-raised-button color="primary" disabled={{form.invalid}}>Enregister</button>
  </div>
  </form>
</section>
