.card-salle{
    &__row{
        display: flex;
        justify-content: space-between;
        border: 1px solid black;
        padding: 15px;
    }

    &__content{
        padding-top: 10px;
    }

    &__image{
        width: 300px;
        height: 200px;
    }
    &__cta{
        display: flex;
        justify-content: space-between;
    }
}