<mat-card style="margin:2em;">
  <mat-card-header class="card-header">
      <mat-card-title>{{salle?.name | uppercase}}</mat-card-title>
  </mat-card-header>
  <mat-card-content class="card-salle__content">
      <img class="card-salle__image" mat-card-image src="assets/images/{{salle?.image}}"/>
      <p>Capacité : {{salle?.capacity}}</p>
  </mat-card-content>
  <div class="card-salle__cta">
      <mat-card-actions>
        <a mat-raised-button color="primary" (click)="openDialog()">Réserver</a>
    </mat-card-actions>
    <mat-card-actions>
        <a mat-raised-button color="primary" [routerLink]="['/rooms/update', salle.id]">Modifier</a>
    </mat-card-actions>
    <mat-card-actions>
        <a mat-raised-button color="primary" (click)="delete(salle)">Supprimer</a>
    </mat-card-actions>
  </div>
</mat-card>