<section class="update-salle">
  <h3>Modifier une salle</h3>

<form class="update-salle__form" [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>

  <mat-form-field>
      <input matInput type="text" placeholder="Nom" formControlName="name"/>
      <mat-error>Le nom est obligatoire</mat-error>
  </mat-form-field>


  <mat-form-field>
      <input matInput type="number" placeholder="Capacité" formControlName="capacity"/>
      <mat-error>Le capacité est obligatoire</mat-error>
  </mat-form-field>

  <div>
      <button type="submit" mat-raised-button color="primary" disabled={{form.invalid}}>Modifier</button>
  </div>
  </form>
</section>
